<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="body-menu">

	<div class="container-fluid">

		<div th:replace="layout/layout :: alerts"></div>

		<div class="row">
			<!--==========================
            			IZQUIERDA            
   			 ===========================-->
			<div th:replace="layout/layout :: opciones"></div>
			<!--==========================
                MITAD
            ===========================-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 second-menu mt-1 text-center">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-3">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 mt-2 text-left">
							<a th:href="@{/menu/facultades}" class="btn btn-outline-primary">
								<i class="fa-solid fa-arrow-left"></i> Atrás</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 mt-2">
							<label class=" h2 text-shadows" th:text="${titulo}"></label>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!--  <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">-->
					<table id="myTable" class="table table-striped table-active table-hover text-center">
						<thead>
							<tr>
								<th>Nivel</th>
								<th>Programa</th>
								<th>Snies</th>
								<th>Modalidad</th>
								<th>Regional</th>

							</tr>
						</thead>
						<tbody>
							<tr th:if="${programa.facultad.nombre} == ${titulo} and ${not #lists.isEmpty(programa)}"
								th:each="programa: ${programa}">
								<td th:text="${programa.nivel}"></td>
								<td th:text="${programa.nombre}" class="text-justify"></td>
								<td th:text="${programa.serial}"></td>
								<td th:text="${programa.modalidad}"></td>
								<td th:text="${programa.facultad.regional.nombre}"></td>
							</tr>
						</tbody>
					</table>
					<div class="alerta" th:if="${#lists.isEmpty(programa)}">
						<label class="m-2">No hay información en la Base de Datos</label>
					</div>
					<!--  </div>-->
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>