<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>


<body class="body-menu">

	<div class="container-fluid">

		<div th:replace="layout/layout :: alerts"></div>

		<div class="row">
			<!--==========================
            			IZQUIERDA            
   			 ===========================-->
			<div th:replace="layout/layout :: opciones"></div>
			<!--==========================
                MITAD
            ===========================-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 second-menu text-center mt-2">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
					<a th:href="@{/menu/regionales}" class="float-left btn btn-outline-primary mt-2 "> <i
							class="fa-solid fa-arrow-left"></i> Atrás</a>
					<h1 th:text="${titulo}" class="text-center text-shadows"></h1>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

						<a th:href="@{/menu/regionales/crud}" class="float-left btn btn-success btn-shadows"> Crear Nuevo Regional</a>

						<div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
							<table class="table table-striped table-active table-hover mt-4">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Dirección</th>
										<th colspan="2">Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="regional: ${regional}" th:if="${not #lists.isEmpty(regional)}">
										<td th:text="${regional.nombre}"></td>
										<td th:text="${regional.direccion}"></td>

										<td>
											<a th:href="@{/menu/regionales/crud/} + ${regional.id}"><i
													class="fa-solid fa-pen-to-square text-primary h3"></i></a>
										</td>
										<td>
											<a th:href="@{/menu/regionales/eliminar/} + ${regional.id}"><i
													class="fa-solid fa-eraser text-danger h3"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="alerta" th:if="${#lists.isEmpty(regional)}">
								<label class="m-2">No hay información en la Base de Datos</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
						<img th:src="@{/img/trabajador.png}" class="img-fluid" width="85%">
					</div>
				</div>



			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>