<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>


<body class="body-menu">

	<div class="container-fluid">

		<div th:replace="layout/layout :: alerts"></div>

		<div class="row">
			<!--==========================
            			IZQUIERDA            
   			 ===========================-->
			<div th:replace="layout/layout :: opciones"></div>
			<!--==========================
                MITAD
            ===========================-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 second-menu text-center mt-2">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
					<a th:href="@{/menu/programas/listar}" class="float-left btn btn-outline-primary mt-2 "> <i
							class="fa-solid fa-arrow-left"></i> Atrás
					</a>
					<h1 th:text="${titulo}" class="text-center text-shadows"></h1>
				</div>
				<div class="row">
					<!--  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
						<img th:src="@{/img/menu.jpg}" class=" img-fluid">
					</div>
					-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<a th:href="@{/menu/programas/reporte/crud}"
							class="float-right btn btn-success btn-shadows btn-sm mb-3"> Agg Reporte Programa</a>

						<div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
							<table class="table table-striped table-active table-hover table-sm rounded ">
								<thead>
									<tr>
										<th>#</th>
										<th>Facultad</th>
										<th>Nivel</th>
										<th>Programa</th>
										<th>Regional</th>
										<th>Cantidad de Estudiantes</th>
										<th>Docentes asignados</th>
										<th>Fecha</th>
										<th colspan="2">Acción</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="estdocprog,iterador: ${estdocprog}"
										th:if="${not #lists.isEmpty(estdocprog)}">
										<td th:text="${iterador.index}+1"></td>
										<td
											th:text="${estdocprog.programa.facultad.nombre == 'FACULTAD DE CIENCIAS NATURALES E INGENIERÍAS' ? 'FCNI' : ' FCSE'}">
										</td>
										<td th:text="${estdocprog.programa.nivel}"></td>
										<td th:text="${estdocprog.programa.nombre}" class="text-left"></td>
										<td th:text="${estdocprog.programa.facultad.regional.nombre}"></td>
										<td th:text="${estdocprog.ecantidad}"></td>
										<td th:text="${estdocprog.dcantidad}"></td>
										<td th:text="${#calendars.format(estdocprog.fecha,'dd/MM/yyyy')}"></td>

										<td><a th:href="@{/menu/programas/reporte/crud/} + ${estdocprog.id}">
												<i class="fa-solid fa-pen-to-square text-primary h3"></i>
											</a>
										</td>
										<td><a th:href="@{/menu/programas/reporte/eliminar/} + ${estdocprog.id}"><i
													class="fa-solid fa-eraser text-danger h3"></i></a></td>

									</tr>
								</tbody>
							</table>
							<div class="alerta" th:if="${#lists.isEmpty(estdocprog)}">
								<label class="m-2">No hay información en la Base de Datos</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>