<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="body-menu">
	<div class="container-fluid">
		<div class="row">
			<!--==========================
            			IZQUIERDA            
   			 ===========================-->
			<div th:replace="layout/layout :: opciones"></div>
			<!--==========================
                MITAD
            ===========================-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 mt-2 second-menu text-center ">

				<div th:replace="layout/layout :: login"></div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<label class="h1 text-shadows ml-5">Estudiantes</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1 ">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<a th:href="@{/menu/estudiantes/Reporte_Estudiantes/listar}">
								<div class="card mx-auto box-shadows text-white bg-info" style="width: 15rem;">
									<img class="card-img-top rounded" th:src="@{../img/reporteEst.png}">
									<div class="card-body">
										<h5 class="card-title">Reportes de Estudiantes</h5>
									</div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-2">
							<a th:href="@{https://www.google.com.co/search?sa=G&hl=es_419&tbs=simg:CAQSgAIJF1q-8e5klMga9AELELCMpwgaOgo4CAQSFMoW_1gf3Nckpiir4JbAa3hfmEJ0BGhqWLyLPIJyBqqXGx1h_17KAsJsf8Dridd9WoBCAFMAQMCxCOrv4IGgoKCAgBEgReVhGcDAsQne3BCRqUAQofCgxjb252ZXJzYXRpb27apYj2AwsKCS9tLzAxaDhuMAoaCgdzaGFyaW5n2qWI9gMLCgkvbS8wNmgxMmsKHAoJZm9yIGFkdWx02qWI9gMLCgkvYS85M2N3X3kKGwoIY3VzdG9tZXLapYj2AwsKCS9tLzAxajBtawoaCgdtZWV0aW5n2qWI9gMLCgkvbS8wMWg2Y2IM&q=empresa+png&tbm=isch&ved=2ahUKEwiryKaewof4AhUBj4kEHdM5A6gQ2A4oAXoECAEQNA&biw=1366&bih=657&dpr=1#imgrc=pMB_bH_4lF4xCM}">
								<img th:src="@{/img/empresa.png}" class="img-fluid" alt="Imagen alusiva a la empresa"
									sec:authorize="hasRole('ROLE_USER')" />
							</a>
							<a th:href="@{/menu/estudiantes/Consolidado/listar}" sec:authorize="hasRole('ROLE_ADMIN')">
								<div class="card mx-auto box-shadows text-white bg-secondary mb-3" style="width: 15rem;">
									<img class="card-img-top" th:src="@{../img/consolidado.png}">
									<div class="card-body">
										<h5 class="card-title mt-1">Consolidado</h5>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>