<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="body-menu">
	<div class="container-fluid">
		<div class="row">
			<!--==========================
            			IZQUIERDA            
   			 ===========================-->
			<div th:replace="layout/layout :: opciones"></div>
			<!--==========================
                MITAD
            ===========================-->
			<div
				class="col-xs-12 col-sm-12 col-md-12 col-lg-10 mt-2 second-menu text-center">

				<div th:replace="layout/layout :: login"></div>


				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">

					<label class="h1 text-shadows">REGIONALES</label>

				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<img th:src="@{/img/bmeja.png}" class="img-fluid regionales"/>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<img th:src="@{/img/velez.png}" class="img-fluid regionales"/>
						</div>

					</div>

				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<img th:src="@{/img/piedecuesta.png}" class="img-fluid regionales"/>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<img th:src="@{/img/bga.png}" class="img-fluid regionales"/>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>